/* 

  phillipclapham.github.io / phillipclapham.com
  Phillip A. Clapham's Developer Portfolio
  styles.css

*/

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Ultra|Shadows+Into+Light');
/* Keyframes */

@keyframes conFadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes sectionScrollIn1 {
  0% {
    left: 100%
  }
  100% {
    left: 0%
  }
}

@keyframes sectionScrollIn2 {
  0% {
    right: 100%
  }
  100% {
    right: 0%
  }
}

@keyframes sectionScrollUp {
  0% {
    top: 100%
  }
  100% {
    top: 0%
  }
}

@keyframes sectionScrollDown {
  0% {
    bottom: 100%
  }
  100% {
    bottom: 0%
  }
}

@keyframes rocker {
  0% {
    transform: translateX(-50%) rotateX(0deg) rotate(-1deg);
  }
  50% {
    transform: translateX(-50%) rotateX(0deg) rotate(1deg);
  }
  100% {
    transform: translateX(-50%) rotateX(0deg) rotate(-1deg);
  }
}

@keyframes scrollTextRight {
  0% {
    left: -50%
  }
  100% {
    left: 150%
  }
}

@keyframes scrollTextLeft {
  0% {
    left: 150%
  }
  100% {
    left: -50%
  }
}

@keyframes colorChange {
  0% {
    color: rgba(255, 0, 0, 0.3)
  }
  20% {
    color: rgba(21, 255, 0, 0.3)
  }
  40% {
    color: rgba(4, 0, 255, 0.3)
  }
  60% {
    color: rgba(255, 217, 0, 0.3)
  }
  80% {
    color: rgba(255, 0, 255, 0.3)
  }
  100% {
    color: rgba(255, 0, 0, 0.3)
  }
}

@keyframes overlayColorChange {
  0% {
    background: rgba(128, 0, 128, 0.2);
  }
  20% {
    background: rgba(0, 23, 128, 0.2);
  }
  40% {
    background: rgba(128, 0, 0, 0.2);
  }
  60% {
    background: rgba(21, 128, 0, 0.2);
  }
  80% {
    background: rgba(128, 115, 0, 0.2);
  }
  100% {
    background: rgba(128, 0, 128, 0.2);
  }
}

@keyframes textBackChange {
  0% {
    background: rgba(0, 0, 0, 0.9);
  }
  50% {
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    background: rgba(0, 0, 0, 0.9);
  }
}

@keyframes borderShift {
  0% {
    border-radius: 15px;
  }
  50% {
    border-radius: 0px;
  }
  100% {
    border-radius: 15px;
  }
}

@keyframes scrollBoxRight {
  from {
    left: -50%;
  }
  to {
    left: 50%
  }
}

@keyframes scrollBoxLeft {
  from {
    left: 150%;
  }
  to {
    left: 50%
  }
}

@keyframes scrollBoxRightOut {
  from {
    left: 50%
  }
  to {
    left: 150%
  }
}

@keyframes scrollBoxLeftOut {
  from {
    left: 50%
  }
  to {
    left: -50%
  }
}

@keyframes scrollBoxTight {
  from {
    left: 50%
  }
  to {
    left: 50%
  }
}

/* Compatible viewports*/

/* Main Styles */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: block;
  margin: 0;
  background: #000;
  height: 100%;
  user-select: none;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  opacity: 1.0;
  animation: conFadeIn 5s 1;
}

.mainContainer {
  display: block;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  padding: 0;
  margin: 0;
}

.topNav {
  height: 10%;
  background: linear-gradient(to bottom, #333, #000);
}

.topNav div h1 {
  font-family: "Ultra", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #fff;
  margin-left: 40px;
  margin-top: 10px;
}

.topNav div h1.missionText {
  display: inline-block;
  font-family: "Shadows Into Light", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  background: #fff;
  margin-left: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%) rotateX(0deg) rotate(-1deg);
  padding: 5px 15px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  border: 2px solid #000;
  border-radius: 5px;
  animation: conFadeIn 5s 1, rocker 30s infinite;
  margin-top: 10px;
}

.siteHead {
  height: 65%;
  background: #fff;
  padding-bottom: 0;
  background: linear-gradient(180deg, #000 5%, #333 40%, #000 100%);
}

.sectionRow {
  height: 12.5%;
  background: #000;
  padding: 0px;
  text-align: center;
}

.sectionRow div h1 {
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Ultra", sans-serif;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.bottomNav {
  height: 12.5%;
  padding: 0px;
}

.profileBox {
  height: 100%;
  background: linear-gradient(to bottom, #3498db, #175782);
  border-top: 10px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 10px solid #000;
  position: relative;
  left: 0%;
  animation: sectionScrollIn1 2s 1;
}

.profileBox:hover,
.profileBox:active {
  background: #000;
  border: 5px solid #fff;
}

.projectBox {
  height: 100%;
  background: linear-gradient(to bottom, #27ae60, #13532e);
  border-top: 10px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  position: relative;
  top: 0%;
  animation: sectionScrollUp 2s 1;
}

.projectBox:hover,
.projectBox:active {
  background: #000;
  border: 5px solid #fff;
}

.linkBox {
  height: 100%;
  background: linear-gradient(to bottom, #e74c3c, #9f2214);
  border-top: 10px solid #000;
  border-right: 10px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  position: relative;
  right: 0%;
  animation: sectionScrollIn2 2s 1;
}

.linkBox:hover,
.linkBox:active {
  background: #000;
  border: 5px solid #fff;
}

.contactBox {
  text-align: center;
  height: 100%;
  background: linear-gradient(to bottom, #e67e22, #8a480f);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 10px solid #000;
  border-left: 1px solid #000;
  position: relative;
  top: 0%;
  animation: sectionScrollUp 2s 1;
}

.contactBox:hover,
.contactBox:active {
  background: #000;
  border: 5px solid #fff;
}

.contactBox h1 {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Ultra", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.spacer1 {
  height: 100%;
  background: linear-gradient(to top, #111, #222);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  z-index: 1;
  position: relative;
  bottom: 0%;
  animation: sectionScrollDown 2s 1;
}

.spacer2 {
  height: 100%;
  background: linear-gradient(to top, #111, #222);
  border-top: 1px solid #000;
  border-right: 10px solid #000;
  border-bottom: 10px solid #000;
  border-left: 1px solid #000;
  z-index: 1;
  position: relative;
  bottom: 0%;
  animation: sectionScrollDown 2s 1;
}

.mobileHeadExt {
  display: none;
}

.nameBox,
.missionBox {
  margin-top: 5px;
}

.downArrow {
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.downArrow:hover {
  color: #000;
}

.picBox {
  display: block;
  height: 100%;
  position: relative;
}

.picBoxPos1 {
  position: relative;
  bottom: 0%;
  opacity: 1.0;
  animation: sectionScrollDown 2s 1, conFadeIn 5s 1;
}

.picBoxPos2 {
  position: relative;
  bottom: 0%;
  opacity: 1.0;
  animation: conFadeIn 2s 1;
}

.picBox2 {
  display: none;
  height: 100%;
  background: #3498db;
  border-top: 5px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  position: relative;
  bottom: 0%;
  animation: sectionScrollUp 2s 1;
  z-index: 0;
}

.picBox3 {
  display: none;
  height: 100%;
  background: #27ae60;
  position: relative;
  bottom: 0%;
  animation: sectionScrollUp 2s 1;
  border-top: 5px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  z-index: 0;
}

.picBox4 {
  display: none;
  height: 100%;
  background: #e74c3c;
  position: relative;
  bottom: 0%;
  animation: sectionScrollUp 2s 1;
  border-top: 5px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  z-index: 0;
}

.picBox5 {
  display: none;
  height: 100%;
  background: #e67e22;
  position: relative;
  bottom: 0%;
  animation: sectionScrollUp 2s 1;
  border-top: 5px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  z-index: 0;
}

.meImgBox {
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.meImg {
  height: 100%;
  position: relative;
}

.meImgImg {
  height: 100%;
  border: 1px solid #000;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), -2px -2px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.meImgOverlay {
  height: 100%;
  background: rgba(128, 0, 128, 0.2);
  position: relative;
  top: -100%;
  border: 1px solid #000;
  border-radius: 100%;
  animation: overlayColorChange 20s infinite;
}

.picBoxText1 {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 5rem;
  position: absolute;
  top: -10%;
  left: -50%;
  transform: translateX(-50%);
  animation: scrollTextRight 30s infinite, colorChange 45s infinite;
}

.picBoxText2 {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 5rem;
  position: absolute;
  top: 20%;
  left: 150%;
  transform: translateX(-50%);
  animation: scrollTextLeft 30s 5s infinite, colorChange 40s 5s infinite;
  ;
}

.picBoxText3 {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 5rem;
  position: absolute;
  top: 55%;
  left: -50%;
  transform: translateX(-50%);
  animation: scrollTextRight 30s 10s infinite, colorChange 36s 2s infinite;
  ;
}

.picBoxText4 {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 5rem;
  position: absolute;
  top: -5%;
  left: -50%;
  transform: translateX(-50%);
  animation: scrollTextRight 30s 12s infinite, colorChange 42s 5s infinite;
  ;
}

.picBoxText5 {
  display: inline-block;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 5rem;
  position: absolute;
  top: 30%;
  left: -50%;
  transform: translateX(-50%);
  animation: scrollTextLeft 30s 14s infinite, colorChange 39s 4s infinite;
  ;
}

.picBoxTextSub1 {
  display: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.picBoxTextSub2 {
  display: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.picBoxTextSub3 {
  display: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Shadows Into Light", sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.profileTextBox1 {
  display: block;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  animation: scrollBoxRight 3s 1, scrollBoxTight 5s 1 3s, scrollBoxRightOut 3s 1 8s;
}

.profileTextBox2 {
  display: block;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  animation: scrollBoxRight 3s 1 8s, scrollBoxTight 10s 1 11s, scrollBoxRightOut 3s 1 21s;
}

.profileTextBox3 {
  display: block;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  animation: scrollBoxRight 3s 1 21s, scrollBoxTight 5s infinite 24s;
}

.profileText {
  display: block;
  margin: 0px 0px 5px;
  font-family: "Ultra", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(250, 50, 50);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.profileTextHL {
  color: #fff;
  font-size: 2.5rem;
}

.profileSub {
  font-size: 1.5rem;
  color: rgb(150, 150, 150);
}

.profileSub2 {
  font-size: 3rem;
  color: white;
}

.linkList {
  display: inline-block;
  list-style: none;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  animation: scrollBoxRight 3s 1, textBackChange 60s infinite, borderShift 20s infinite;
}

.linkList li {
  margin-bottom: 10px;
}

.linkList li a {
  text-decoration: none;
  font-family: "Ultra", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.linkList li a:hover {
  text-decoration: underline;
  color: #000;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.projectTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  animation: scrollBoxLeft 3s 1, textBackChange 60s infinite, borderShift 20s infinite;
}

.projectText {
  display: block;
  margin: 0px 0px 5px;
  font-family: "Ultra", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(250, 50, 50);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

a.projectText {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  padding-top: 10px;
  color: #fff;
}

a.projectText:hover {
  text-decoration: underline;
  color: #000;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.contactTextBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
  width: 50%;
  animation: scrollBoxRight 3s 1, textBackChange 60s infinite, borderShift 20s infinite;
}

.contactTextBox h1,
.contactTextBox a {
  margin: 0;
  font-family: "Ultra", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
}

.contactTextBox h1 {
  margin-bottom: 10px;
  color: rgb(250, 50, 50);
}

.contactTextBox a {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  padding: 5px;
}

.contactTextBox a:hover {
  text-decoration: underline;
  color: #000;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Mobile Styling */

@media screen and (max-width: 823px) {
  .topNav {
    height: 10%;
  }
  .mobileHeadExt {
    display: block;
    height: 10%;
    background: linear-gradient(to bottom, #000, #595959);
  }
  .missionText {
    display: inline-block;
    font-family: "Shadows Into Light", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    background: rgba(255, 255, 255, 1.0);
    margin-left: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%) rotateX(2deg) rotate(-2deg);
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: conFadeIn 5s 1, rocker 20s infinite;
  }
  .siteHead {
    height: 60%;
    background: linear-gradient(to bottom, #595959, #000);
  }
  .sectionRow {
    height: 10%;
  }
  .bottomNav {
    height: 10%;
  }
  .spacer1 {
    height: 100%;
  }
  .spacer2 {
    height: 100%;
  }
  .nameBox {
    width: 100%;
  }
  .topNav div h1 {
    margin-left: 0;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
  }
  .missionBox {
    display: none;
  }
  .sectionRow div h1 {
    font-size: 1.2rem;
  }
  .contactBox h1 {
    font-size: 1.2rem;
  }
  .picBox {
    width: 100%;
  }
  .picBoxTextSub1 {
    font-size: 1.25rem;
    top: 5%;
  }
  .picBoxTextSub2 {
    font-size: 1.25rem;
    top: 15%;
  }
  .picBoxTextSub3 {
    font-size: 1.25rem;
    top: 75%;
  }
  .profileTextBox1 {
    width: 75%;
  }
  .profileTextBox2 {
    width: 75%;
  }
  .profileTextBox3 {
    width: 75%;
  }
  .projectText {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .projectText {
    font-size: 1rem;
  }
  .linkList li a {
    font-size: 1.25rem;
  }
  .contactTextBox h1,
  .contactTextBox a {
    font-size: 1.5rem;
  }
  .linkList {
    width: 75%;
  }
  .projectTextBox {
    width: 75%;
  }
  .contactTextBox {
    width: 75%;
  }
  .profileText {
    font-size: 1rem;
  }
  .profileTextHL {
    font-size: 1.5rem;
  }
  .profileSub {
    font-size: .75rem;
  }
}

@media screen and (max-width: 360px) {
  .missionText {
    font-size: .85rem;
  }
  .picBoxText1 {
    font-size: 2rem;
  }
  .picBoxText2 {
    font-size: 2rem;
  }
  .picBoxText3 {
    font-size: 2rem;
  }
  .picBoxText4 {
    font-size: 2rem;
  }
  .picBoxText5 {
    font-size: 2rem;
  }
  .picBoxTextSub1 {
    font-size: 1rem;
    top: 5%;
  }
  .picBoxTextSub2 {
    font-size: 1rem;
    top: 15%;
  }
  .picBoxTextSub3 {
    font-size: 1rem;
    top: 75%;
  }
}

@media screen and (max-width: 320px) {
  .picBoxTextSub1 {
    font-size: .85rem;
    top: 5%;
  }
  .picBoxTextSub2 {
    font-size: .85rem;
    top: 15%;
  }
  .picBoxTextSub3 {
    font-size: .85rem;
    top: 75%;
  }
  .sectionRow div h1 {
    font-size: 1rem;
  }
  .contactBox h1 {
    font-size: 1rem;
  }
  .linkList li a {
    font-size: 1rem;
  }
  .projectText {
    font-size: 1rem;
  }
  .contactTextBox h1,
  .contactTextBox a {
    font-size: 1.25rem;
  }
}

/* Non-compatible viewports */

@media screen and (max-device-height: 460px) {
  html,
  body,
  .container {
    height: 800px;
  }
}